@import "gg.styl"
.set
  height 50px 
  width 50px
  background url("../img/nav_set_icon@2x.png") no-repeat
  background-size 40% 40%
  position absolute
  right 0px
  top 30%
.bg-pic
  height 60px
  width 60px
  border-radius 50%
  display inline-block
  vertical-align bottom
  margin-right 10px
.txt-kuang
  line-height 60px
  height 60px
  display inline-block
.bgbody
  margin-top 10px
  display flex
.tj-txt
  font-size 20px
  flex 4
  text-align center
.bj-txt
  font-size 14px
  color #6D6D6D
.pict-a
  background url("../img/content_list_icon01@2x.png") no-repeat 10px
  background-size 20px
  background-color #Ffffff
  padding-left 35px
.pict-b
  background url("../img/content_list_icon02@2x.png") no-repeat 10px
  background-size 20px
  background-color #Ffffff
  padding-left 35px
.pict-c
  background url("../img/content_list_icon05@2x.png") no-repeat 10px
  background-size 20px
  background-color #Ffffff
  padding-left 35px
.pict-d
  background url("../img/content_list_icon03@2x.png") no-repeat 10px
  background-size 20px
  background-color #Ffffff
  padding-left 35px
.pict-e
  background url("../img/content_list_icon04@2x.png") no-repeat 10px
  background-size 20px
  background-color #Ffffff
  padding-left 35px

