@import "gg.styl"
body
  padding-bottom 50px
.bg-pic
  height 60px
  width 60px
  border-radius 50%
  display inline-block
  margin-right 10px
  vertical-align bottom
.txt-kuang
  height 60px
  display inline-block
.bg-txt
  font-size 14px
  color #000000
  height 1.5em
  margin-top 10px
.bg-txta
  font-size 12px
  color #767676
  height 1.5em
p
  margin 5px 0px
.font-body
  color #BCBCBD
  font-size 14px
  margin 0px
  padding 10px 15px
.font-kuang
  display inline-block
  margin-top 8px
.right
  float right
  margin-right 10px
.xx-t
  position relative
  height 40px
  padding 0 15px
  line-height 40px
  &:after
    content ''
    position absolute
    right 0
    bottom 0
    left 10px
    display block
    height 1px
    background-color #cecece
.xx-tx
  position relative
  height 40px
  padding 0 15px
  line-height 40px
.txt_box
  float right
.txt_box_k
  display inline-block

.txt_box_s
  font-size 12px
  line-height 12px
  margin 0px
.txt-b
  line-height 16px
  margin-bottom  0px
.phone
  height 60px
  width 60px
  background url(../img/content_icon_call@2x.png) no-repeat center right 10px
  background-size 40%
  border-left 1px solid #F5F5F5
  float right
.menu
  color #EA560A
  border-right 1px solid #F5F5F5
  padding 15px 0px
.seat
  padding 0px
.change
  width 95%
  text-align right
  border 0px
  outline none
.danger
  background #EA560A
.dis-txt
  font-size 12px
.check_box
  display block
  line-height 22px
  padding 5px 0px
.check
  height 20px
  width 20px
  display inline-block
  border 1px solid #D5D5D5
  vertical-align bottom
  margin-right 10px
.check_active
  background url(../img/content_list_icon_right@2x.png) no-repeat center
  background-size 90%
.why
  width 100%
  border 0px
  background #EFEFF4
  border-radius 5px
  resize none
  outline none
.hidden
  display none
