@import "gg.styl"
.bg-pic
  height 60px
  width 60px
  border-radius 50%
  display inline-block
  margin-right 10px
.txt-kuang
  height 60px
  display inline-block
.bg-txt
  font-size 14px
  color #000000
  display block
  height 1.5em
.bg-txta
  font-size 12px
  color #bebebe
  display block
  height 1.5em

