@import "gg.styl"
body
  padding 0px
.back
  width 65px
  padding-left 15px
  background transparent url("../img/nav_icon_down@2x.png") no-repeat left 40px center
  background-size 12px 6px
  font-size 12px
.up
  position absolute
  top 0
  z-index 5
  width 80%
  padding-right 80px
  background transparent
  color #Ffffff
.search_box
  position absolute
  top 50px
  left 50%
  z-index 5
  width 85%
  margin 20px -45%
  height 40px
  background #F1F1F1
  color #999999
  text-align center
  line-height 40px
  border-radius 3px
  font-size 14px
.search-pic
  display inline-block
  height 20px
  width 20px
  background url(../img/banner_icon_search@2x.png) no-repeat
  background-size 16px
  vertical-align middle
.slider_box
  width 100%

  overflow hidden
  .slider_container
    width 300%
    transition all .5s
    transform translateX(0)
    &:after
      content ''
      display block
      visibility hidden
      height 0
      clear both
.slider_block
  float left
  background url("../img/banner_img@2x.png") no-repeat
  background-size 100%
  &:nth-child(2)
    background url("../img/banner_img@2x.png") no-repeat
    background-size 100%
  &:nth-child(3)
    background url("../img/banner_img@2x.png") no-repeat
    background-size 100%
  &:nth-child(4)
    background url("../img/banner_img@2x.png") no-repeat
    background-size 100%
  &:nth-child(5)
    background url("../img/banner_img@2x.png") no-repeat
    background-size 100%
.point_box
  position absolute
  top 250px
  left 50%
  margin-left -40px
  z-index 8
  height 16px
  text-align center
  .point_block
    display inline-block
    width 16px
    height 16px
    background url("../img/banner_icon_point_nor@2x.png") no-repeat center
    background-size 10px
    &.active
      background url("../img/banner_icon_point_press@2x.png") no-repeat center
      background-size 10px
      border 0px
.query_box
  display flex
  width 100%
  height 50px
  line-height 50px
  margin-top 10px
  background-color #fff
  font-size 14px
  text-align center
  .query_block
    flex 1
    .text
      display block
      height 30px
      text-align center
      line-height 35px
    .icon
      display block
      height 10px
      background url("../img/content_icon02_nor@2x.png") no-repeat center
  .query_price
    width 50px
    height 50px
    background url("../img/content_icon01_nor@2x.png") no-repeat center
    background-size 20px

.block_box
  display flex
  padding 15px
  background-color #fff
  .img_box
    flex 2
  .info_box
    flex 5
.shuxian-d
  height 30px
  display inline-block
  border-right 1px solid #efefe4
  margin-top 10px
