@import "gg.styl"
.font-body
  color #BCBCBD
  font-size 10px
  margin 0px
  padding 10px 15px
.bg-pic
  height 60px
  width 60px
  border-radius 50%
  background #878787
  color #Ffffff
  margin 0px auto
  line-height 60px
  font-size 12px
  text-align center
.shuxian
  border-top 1px solid #EFEFF4
  width 40%
  margin 10px auto
.text
  display block
  background #EFEFF4
  border 1px solid #E5E5E7
  border-radius 5px
  width 60%
  margin 0px auto
  margin-bottom 5px
.bg-pict
  height 60px
  width 100px
  margin 0px auto
  background #878787
  border-radius 5px
  line-height 60px
  text-align center
  color #Ffffff
  font-size 12px



