@import "gg.styl"
.up
  height 30px
  padding 10px
.title
  list-style none
  margin 0px auto
  border-radius 5px
  border 1px solid #EA5404
  padding 0px
  width 60%
  height 30px
.title-cell
  float left
  text-align center
  height 30px
  line-height 30px
  width 32%
  font-sizze 14px
.active
  background #EA5404
  color #Ffffff
.tlr
  border-bottom-left-radius 5px
  border-top-left-radius 5px
.btr
  border-bottom-right-radius 5px
  border-top-right-radius 5px
.especial
  margin-top -5px
.shuxian
  border 1px solid #EFEFF4
  width 100%
  position absolute
  left 0px
.p-es
  text-indent 2em
  line-height 15px
  margin-bottom 0px
  color #737373


