@import "gg.styl"
.pic-a
	background url(../img/content_ID_icon@2x.png) no-repeat 14px 13px
	background-size 30px
	margin-top 30px
.pic-b
	background url(../img/content_password_icon@2x.png) no-repeat 18px 12px
	background-size 20px
	margin-top: 1px
.pic-c
	background url(../img/content_verify_icon@2x.png) no-repeat 20px 10px
	background-size 16px
	margin-top 1px
.focus
	font-size 12px
	height 24px
	color #Ffffff
	background #ff0000
	border 0px
	text-align center
	margin-top 13px
	outline none
.pic-d
	background url(../img/content_position_icon@2x.png) no-repeat 12px 12px
	background-size 30px
	margin-top 1px
.num
	background-color #ffffff
	height 50px
	line-height 50px
	padding 0px 20px
	font-size 14px
	display flex
	border-bottom 1px solid #EFEFF4
.num-font
	margin-left 35px
.txt
	border 0px
	outline none
	flex 1
.txtt
	border 0px
	outline none
	width 110px
.danger
	height 40px
	margin 30px 5% 20px 5%
	width 90%
	background #C7C7C7
	border 1px solid #C7C7C7
	border-radius 5px
	color #Ffffff
	outline none
.last
	margin 0px 8%
	text-align center
.last-font-a
	color #FCA14F
	font-size 14px
	float left
.last-font-b
	color #000000s
	font-size 14px
	float right
.last-font-d
	color #FCA14F
	font-size 14px
.last-font-c
	color #000000s
	font-size 14px

	
	
	
	
