@import "gg.styl"
.tx-pic
  margin 10px auto
  border-radius 50%
  height 60px
  width 60px
.txt-a
  display block
  font-size 20px
  text-align center
.txt-b
  display block
  font-size 14px
  text-align: center
  color: #8D8D8D
  margin 5px 0px
.txt-c
  display block
  color #ED7139
  font-size 12px
  border 1px solid #ED7139
  padding 10px 15px
  margin 5px auto
  width 6em
  border-radius 3px
.xx-title
  color #7E7E7E
  margin-right 20px
.xx-pic
  display flex
  padding 0 15px
.pic-kuang
  flex 3
  margin 10px 10px 10px 0px
.xx-bj
  border-radius 5px
  background #878787
  height 80px
.go
  margin-top 8px
  position absolute
  right 0
  &:after
    right 0px
.pic-txt
  color #878787
  display block
  text-align center
  font-size 12px
.xx-tx
  height 30px
  width 30px
  border-radius 50%
  display inline-block
  vertical-align middle
  margin 0px
  padding 5px 0px
.hid
  overflow hidden
  text-overflow ellipsis
  height 40px
.flex
  flex 2
.flexb
  flex 5

