@import "gg.styl"
.back
  background url('')
  font-size 14px
  text-align center
.radio_box
  padding-left 50px
.radio_block
  display inline-block
  height 24px
  line-height 24px
  font-size 12px
  padding-left 10px
.radio_btn
    display inline-block
    width 10px
    height 10px
    margin 4px
    border 2px solid #ff6666
    border-radius 50%
    vertical-align bottom
  &.selected
    .icon
      display inline-block
      width 2px
      height 2px
      margin 2px
      border 2px solid transparent
      border-radius 50%
      background-color #ff6666
.bgbody
 margin-top 10px
.select_box
  width 100%
  flex 6
  position relative
  height 20px
  display inline-block
  color #B9B9BA
  .select-title
    position relative
    height 30px
    padding 0 10px
    background-color #EFEFF4
    border #EAEAEB solid 1px
    border-radius 5px
    line-height 30px
    margin-top 5px
    &:before
    &:after
      content ''
      position absolute
      top 10px
      right 23px
      display block
      width 2px
      height 10px
      background-color #ababab
      transform rotate(-45deg)
    &:after
      right 15px
      transform rotate(45deg)
  .select-list
    display none
    position absolute
    top 38px
    right 0
    left 0
    z-index 5
    border #EAEAEB solid 1px
    border-radius 0 0 5px 5px
    background-color #EFEFF4
    list-style none
    margin 0
    padding 0

    .select-li
      position relative
      height 30px
      padding 0 10px
      line-height 30px
      &:after
        content ''
        position absolute
        right 0
        bottom 0
        left 10px
        display block
        height 1px
        background-color #cecece
      &:last-child:after
        display none
.msg-title
  height 16px
  line-height 16px
  &:before
    content ''
    display inline-block
    height 5px
    width 5px
    border-radius 50%
    background #BEE949
    margin-right 10px
    vertical-align middle
ul
  list-style none
  margin 0px
  padding 0px
li
  display flex
  padding 5px 0px
.title
  font-size 14px
  color #8B8B8B
  flex 2
  text-align right
  padding-right 15px
.content
  flex 7
  color #D9DADF
  position relative
  display inline-block
  border-bottom 1px solid #cecece
.msg-txt
  padding 5px 30px
  font-size 12px
.msg-title-a
  height 16px
  line-height 16px
  &:before
    content ''
    display inline-block
    height 5px
    width 5px
    border-radius 50%
    background #49CDE9
    margin-right 10px
    vertical-align middle
.ipt-k
  display flex
  line-height 40px
  height 40px
.ipt-s
  display flex
  line-height 40px
.ipt_txt
  flex 3
  border #EAEAEB solid 1px
  background #EFEFF4
  color #000000
  width 95%
  height 30px
  margin-top 5px
  border-radius 5px
  outline none
.text-a
  flex 3
  font-size 14px
.txt-d
  font-size 14px
  flex 2
.radio_es
  margin-bottom  12px
.ipt_t
  flex 6
  border #EAEAEB solid 1px
  background #EFEFF4
  color #000000
  width 95%
  height 30px
  margin-top 5px
  border-radius 5px
  outline none
.ipt_tx
  flex 2.6
  border #EAEAEB solid 1px
  background #EFEFF4
  color #000000
  width 95%
  height 30px
  margin-top 5px
  border-radius 5px
  outline none
  margin-right 10px
.ipt-area
  outline none
  flex 6
  border #EAEAEB solid 1px
  background #EFEFF4
  color #000000
  border-radius 5px
  margin-top 5px
  resize none
.search_box
  height 50px
  line-height 60px
  display flex
.search-txt
  flex 3
.searchbuild
  border #EAEAEB solid 1px
  height 40px
  margin-top 8px
  margin-left 10px
  border-radius 5px
  background url(../img/banner_icon_search@2x.png) no-repeat 5px center
  background-size 20px 20px
  background-color #ffffff
  padding-left 30px
  outline none
.add
  display inline-block
  height 30px
  width 30px
  margin-top 15px
  background url("../img/content_plus_icon@2x.png") no-repeat center
  background-size 16px 16px
.con
  height 60px
.danger
  margin-top 10px




