@import "gg.styl"
body
  padding-bottom 60px
.text-left
  float left
.txt-right
    position relative
   &:before
      content  ''
      position absolute
      top 0
      left -13px
      height 15px
      width 15px
      display inline-block
      background url(../img/content_icon@2x.png) no-repeat center
      background-size 50%
.source-adds
  text-indent 1.5em
.source-type
  border 0px
  width 10em
  padding 0px
  text-align left
.accept
  width 4em
  float right
  margin 0px
  font-size 14px
.danger
  height 2em
  background #EA560A
.accept-wc
  font-size 12px
  float right