@import "gg.styl"
.data
  color #BEBEBE
  font-size 12px
  float right
  margin-right 20px
  line-height 20px
.btn
  height 30px
  width 50px
  border-radius 15px
  background #EA5404
  display inline-block
  float right
  margin-top -6px
  box-shadow inset 5px -5px 5px #EA5404
.btn-info
  height 30px
  width 30px
  border-radius 50%
  background #Ffffff
  box-shadow inset 0px -2px 5px #C2CCD1
.logo
  padding 30px
  margin 0px auto
.logo-pic
  height 70px
  width 70px
  display block
  margin 0 auto
.logo-kuang
  margin 10px auto
  height 30px
  width 120px
  line-height 20px
  font-size 12px
.tel
  font-size 12px
  float right
  margin-right 20px
  margin-top 4px





