<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		 <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		 <meta http-equiv="X-UA-Compatible" content="ie=edge" />
		 <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" type="text/css"/>
		<link href="../public/css/setting.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div class="up">
			<span class="back"></span>
			<span>关于</span>
		</div>
		<div class="logo">
			<img src="../public/img/content_img_logo@2x.png" class="logo-pic"/>
			<div class="logo-kuang">
				<img src="../public/img/content_text_logo@2x.png"height="20px" style="vertical-align: bottom;"/>v1.0.0
			</div>
		</div>
		<div class="bgbody go">
			<span>电话</span>
			<span class="tel">021-68547845</span>
		</div>
		<div class="bgbody go">服务条款</div>
	</body>
</html>
