<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		 <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		 <meta http-equiv="X-UA-Compatible" content="ie=edge" />
		 <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" type="text/css"/>
		<link href="../public/css/author.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div class="up">
			<span >我</span>
			<span class="set"></span>
		</div>
		<div class="bgbody go" >
			<div class="bg-pic">
				<img src="../public/img/log in_user-head@2x.png" height="100%" width="100%"/>
			</div>
			<div class="txt-kuang">
				<span class="bg-txt">点击登录/注册</span>
			</div>
		</div>
		<div class="bgbody" style="margin-top: 1px;">
			<span class="tj-txt">
				<span>0</span>
				<span class="bj-txt">收藏</span>
			</span>
			<span class="shuxian-b"></span>
			<span class="tj-txt">
				<span >0</span>
			<span class="bj-txt">积分</span>
			</span>
		</div>
		<div class="bgbody pict-a go">
			<span class="ch-txt">我发布的需求</span>
		</div>
		<div class="bgbody pict-b go">
			<span class="ch-txt">我发布的房源</span>
		</div>
		<div class="bgbody pict-c go">
			<span class="ch-txt">我预约的房源</span>
		</div>
		<div class="bgbody pict-d go">
			<span class="ch-txt">历史交易</span>
		</div>
		<div class="bgbody pict-e go">
			<span class="ch-txt">过期房源</span>
		</div>
		<div class="bgbody seat">
			<span class="menu">
				<img src="../public/img/bottom_nor_icon04@2x.png" class="menu-pic"/>
				<span class="menu-txt">首页</span>
			</span>
			<span class="menu">
				<img src="../public/img/bottom_nor_icon03@2x.png" class="menu-pic"/>
				<span class="menu-txt">预约</span>
			</span>
			<span class="choose">
				<img src="../public/img/bottom_icon05@2x.png" height="100%" width="100%"/>
			</span>
			<span class="menu">
				<img src="../public/img/bottom_nor_icon02@2x.png" class="menu-pic"/>
				<span class="menu-txt">信息</span>
			</span>
			<span class="menu menu-active">
				<img src="../public/img/bottom_nor_icon01@2x.png" class="menu-pic"/>
				<span class="menu-txt">我</span>
			</span>
		</div>
	</body>
</html>
