<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>觅巢ForYou-汇道科技</title>
		 <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		 <meta http-equiv="X-UA-Compatible" content="ie=edge" />
		 <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" type="text/css"/>
		<link href="../public/css/book.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div class="up">
			<span class="back"></span>
			<span class="font-h">预约详情</span>
		</div>
		<p class="font-body">约见人</p>
		<div class="bgbody" >
			<div class="bg-pic">
				<img src="../public/img/log in_user-head@2x.png" height="100%" width="100%"/>
			</div>
			<div class="txt-kuang">
				<span class="bg-txt">你才是张三</span>
				<span class="bg-txta">租户</span>
			</div>
		</div>
		<p class="font-body">预约信息</p>
		<div class="bgbody">
			<div>华旭国际大厦</div>
			<div class="font-">
				<div class="bg-txta">区域：黄埔-人民广场</div>
				<div class="bg-txta">面积：176m²</div>
			</div>
			<div class="font-">
				<div class="bg-txta">房型：商务中心</div>
				<div class="bg-txta">单价：&yen;5.5元/m²/天起</div>
			</div>
		</div>
		<p class="font-body">预约时间</p>
		<div class="bgbody">2016-08-08</div>
		<p class="font-body">预约状态</p>
		<div class="bgbody">
			<div>
				<span></span>
			</div>
		</div>
	</body>
</html>
