<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>觅巢ForYou-汇道科技</title>
		 <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		 <meta http-equiv="X-UA-Compatible" content="ie=edge" />
		 <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" type="text/css"/>
		<link href="../public/css/book.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div class="up">
			<span class="back"></span>
			<span class="font-h">预约详情</span>
		</div>
		<p class="font-body">约见人</p>
		<div class="bgbody" >
			<div class="bg-pic">
				<img src="../public/img/log in_user-head@2x.png" height="100%" width="100%"/>
			</div>
			<div class="txt-kuang">
				<p class="bg-txt">你才是张三</p>
				<p class="bg-txta">租户</p>
			</div>
			<div class="phone"></div>
		</div>
		<p class="font-body">预约信息</p>
		<div class="bgbody">
			<div>华旭国际大厦</div>
			<div class="font-kuang">
				<div class="bg-txta">区域：黄埔-人民广场</div>
				<div class="bg-txta">面积：176m²</div>
			</div>
			<div class="font-kuang right">
				<div class="bg-txta">房型：商务中心</div>
				<div class="bg-txta">单价：&yen;5.5元/m²/天起</div>
			</div>
		</div>
		<p class="font-body">预约时间</p>
		<div class="bgbody">2016-08-08</div>
		<p class="font-body">预约状态</p>
		<div class="bgbody" style="padding: 5px 0px;">
			<div class="xx-t">
				<div class="txt_box_k"><p class="txt-b">08/10</p><p class="txt_box_s">周三</p></div><div class="txt_box">订单成功</div>
			</div>
			<div class="xx-t">
				<div class="txt_box_k"><p class="txt-b">08/08</p><p class="txt_box_s">周一</p></div><div class="txt_box">已接单，待看房</div>
			</div>
			<div class="xx-tx">
				<div class="txt_box_k"><p class="txt-b">08/06</p><p class="txt_box_s">周六</p></div><div class="txt_box">等待对方接单</div>
			</div>
		</div>
		<div class="hidden">
			<p class="font-body change-txt">更改预约时间</p>
			<input class="bgbody change" placeholder="2016/08/08" type="text" style="display: none;"/>
		</div>
		<div class="hidden">
			<p class="font-body change-txt" >取消原因<span class="dis-txt">（至少选择一项）</span></p>
			<div class="bgbody">
				<label class="check_box"><span class="check check_active"></span><span>客户不满意</span></label>
				<label class="check_box"><span class="check"></span><span>已经联系客户，预约取消</span></label>
				<label class="check_box"><span class="check"></span><span>其他原因</span></label>
				<textarea class="why" placeholder="原因" rows="5"></textarea>
			</div>
		</div>
		<div class="bgbody seat" >
			<span class="menu">改期</span>
			<span class="menu">达成</span>
			<span class="menu" style="border：0px">取消</span>
		</div>
		<button class="danger">接单</button>
	</body>
</html>
