<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		 <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		 <meta http-equiv="X-UA-Compatible" content="ie=edge" />
		 <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" type="text/css"/>
		<link href="../public/css/gg.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div class="up">
			<span class="back"></span>
			<span >收藏</span>	
		</div>
		<ul class="tabs bgbody" >
			<li class="tabs-cell active">需求</li>
			<li class=" shuxian-c">|</li>
			<li class="tabs-cell">房源</li>
		</ul>
		<div class="demand-kuang" >
			<div class="demand">
				<div class="demand-title">
					<span class="title-txt">一个新的租房需求</span>
					<span class="indentity zh">租户</span>
				</div>
				<img src="../public/img/content_list_border.9@2x.png" width="100%"/>
				<p class="demand-body">需求为：外滩SOHO，200平米写字楼，简单带家私，租金8元/m²/天左右，附近有地铁</p>
				<div class="all ">了解详情</div> <em class="date especial">08/04/13:06</em>
			</div>
			<div class="demand">
				<div class="demand-title">
					<span class="title-txt">一个新的租房需求</span>
					<span class="indentity jjr">经纪人</span>
				</div>
				<img src="../public/img/content_list_border.9@2x.png" width="100%"/>
				<p class="demand-body">需求为：外滩SOHO，200平米写字楼，简单带家私，租金8元/m²/天左右，附近有地铁</p>
				<div class="all ">了解详情</div> <em class="date especial">08/04/13:06</em>
			</div>
		</div>
		<div class="source-kuang" style="display: none;">
			<div class="bgbody" style="padding: 10px;">
				<ul class="source">
					<li class="source-cell"><img src="../public/img/content_img_list@2x.png" height="90px" width="100%"/></li>
					<li class="source-cell">
						<span class="source-title">东方金融中心</span>
						<span class="source-adds">浦东-八佰伴</span>
						<span class="source-type">商务中心</span>
						<span class="source-price">￥7</span><span class="source-unit">元/平米/天起</span>
					</li>
					<li class="source-cells">
						<img src="../public/img/collect_icon_press@2x.png" class="source-pic" />
						<span class="source-time">佣金：1个月</span>
					</li>
				</ul>
			</div>
			<div class="bgbody bgbody-bj" style="padding: 10px;">
				<ul class="source">
					<li class="source-cell"><img src="../public/img/content_img_list@2x.png" height="90px" width="100%"/></li>
					<li class="source-cell">
						<span class="source-title">东方金融中心</span>
						<span class="source-adds">浦东-八佰伴</span>
						<span class="source-type">商务中心</span>
						<span class="source-price">￥7</span><span class="source-unit">元/平米/天起</span>
					</li>
					<li class="source-cells">
						<img src="../public/img/collect_icon_press@2x.png" class="source-pic" />
						<span class="source-time">佣金：1个月</span>
					</li>
				</ul>
			</div>
		</div>
		
	</body>
</html>
