<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		 <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		 <meta http-equiv="X-UA-Compatible" content="ie=edge" />
		 <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" type="text/css"/>
		<link href="../public/css/message.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div class="up">
			<ul class="title">
				<li class="title-cell active tlr">消息</li>
				<li class="title-cell" style="border-left: 1px solid #EA5404;border-right: 1px solid #EA5404;">通知</li>
				<li class="title-cell btr">需求</li>
			</ul>
		</div>
		<div class="message" style="display: none;">
			<div class="demand">
				<div class="demand-title">
					<span class="title-txt">你眼中“最美夜滨江”摄影征集启动啦！</span>
				</div>
				<div class="shuxian"></div>
				<p class="demand-body p-es">霓虹璀璨，凉风习习，月刊玉梅，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩……你眼中“最美”的滨江夜景在哪里？</p>
				<em class="date especial">08/04/13:06</em>
			</div>
			<div class="demand">
				<div class="demand-title">
					<span class="title-txt">你眼中“最美夜滨江”摄影征集启动啦！</span>
				</div>
				<div class="shuxian"></div>
				<p class="demand-body p-es">霓虹璀璨，凉风习习，月刊玉梅，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩……你眼中“最美”的滨江夜景在哪里？</p>
				<em class="date especial">08/04/13:06</em>
			</div>
			<div class="demand">
				<div class="demand-title">
					<span class="title-txt">你眼中“最美夜滨江”摄影征集启动啦！</span>
				</div>
				<div class="shuxian"></div>
				<p class="demand-body p-es">霓虹璀璨，凉风习习，月刊玉梅，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩……你眼中“最美”的滨江夜景在哪里？</p>
				<em class="date especial">08/04/13:06</em>
			</div>
			<div class="demand">
				<div class="demand-title">
					<span class="title-txt">你眼中“最美夜滨江”摄影征集启动啦！</span>
				</div>
				<div class="shuxian"></div>
				<p class="demand-body p-es">霓虹璀璨，凉风习习，月刊玉梅，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩……你眼中“最美”的滨江夜景在哪里？</p>
				<em class="date especial">08/04/13:06</em>
			</div>
			<div class="demand">
				<div class="demand-title">
					<span class="title-txt">你眼中“最美夜滨江”摄影征集启动啦！</span>
				</div>
				<div class="shuxian"></div>
				<p class="demand-body p-es">霓虹璀璨，凉风习习，月刊玉梅，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩……你眼中“最美”的滨江夜景在哪里？</p>
				<em class="date especial">08/04/13:06</em>
			</div>
		</div>
		<div class="notice" style="display: none;">
			<div class="demand">
				<div class="demand-title">
					<span class="title-txt">房源维护提示</span>
					<em class="date">08/04/13:06</em>
				</div>
				<div class="shuxian"></div>
				<p class="demand-body p-es">您在本平台上传一处房源信息，现在有效期马上就要到了，请到“我发布的房源”中更新状态，5天后该房源将自动下架。</p>
				<span class="demand-body p-es">地址：徐汇-龙华&nbsp;科技大厦</span>
			</div>
			<div class="demand">
				<div class="demand-title">
					<span class="title-txt">房源维护提示</span>
					<em class="date">08/04/13:06</em>
				</div>
				<div class="shuxian"></div>
				<p class="demand-body p-es">您在本平台上传一处房源信息，现在有效期马上就要到了，请到“我发布的房源”中更新状态，5天后该房源将自动下架。</p>
				<span class="demand-body p-es">地址：徐汇-龙华&nbsp;科技大厦</span>
			</div>	
		</div>
		<div class="need">
			<div class="demand">
				<div class="demand-title">
					<span class="title-txt">一个新的租房需求</span>
					<span class="indentity zh">租户</span>
				</div>
				<img src="../public/img/content_list_border.9@2x.png" width="100%"/>
				<p class="demand-body">需求为：外滩SOHO，200平米写字楼，简单带家私，租金8元/m²/天左右，附近有地铁</p>
				<div class="all ">了解详情</div> <em class="date especial">08/04/13:06</em>
			</div>
			<div class="demand">
				<div class="demand-title">
					<span class="title-txt">一个新的租房需求</span>
					<span class="indentity jjr">经纪人</span>
				</div>
				<img src="../public/img/content_list_border.9@2x.png" width="100%"/>
				<p class="demand-body">需求为：外滩SOHO，200平米写字楼，简单带家私，租金8元/m²/天左右，附近有地铁</p>
				<div class="all ">了解详情</div> <em class="date especial">08/04/13:06</em>
			</div>
			<div class="demand">
				<div class="demand-title">
					<span class="title-txt">一个新的租房需求</span>
					<span class="indentity zs">招商</span>
				</div>
				<img src="../public/img/content_list_border.9@2x.png" width="100%"/>
				<p class="demand-body">需求为：外滩SOHO，200平米写字楼，简单带家私，租金8元/m²/天左右，附近有地铁</p>
				<div class="all ">了解详情</div> <em class="date especial">08/04/13:06</em>
			</div>
			<div class="demand">
				<div class="demand-title">
					<span class="title-txt">一个新的租房需求</span>
					<span class="indentity dls">代理商</span>
				</div>
				<img src="../public/img/content_list_border.9@2x.png" width="100%"/>
				<p class="demand-body">需求为：外滩SOHO，200平米写字楼，简单带家私，租金8元/m²/天左右，附近有地铁</p>
				<div class="all ">了解详情</div> <em class="date especial">08/04/13:06</em>
			</div>
		</div>
	</body>
</html>
