<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>觅巢ForYou-汇道科技</title>
		 <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		 <meta http-equiv="X-UA-Compatible" content="ie=edge" />
		 <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" type="text/css"/>
		<link href="../public/css/jjr.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div class="up">
			<span class="back"></span>
			<span class="font">经纪人</span>
		</div>
		<p class="font-body">必填项</p>
		<div class="bgbody">
			<div class="bg-pic"><img src="" /><span class="font-pic">添加头像</span></div>
			<div class="shuxian"></div>
			<input type="text" placeholder="姓名" class="text font-body" />
			<input type="text" placeholder="所属公司" class="text font-body" />
			<input type="text" placeholder="联系方式" class="text font-body" />
			<input type="text" placeholder="擅长商圈" class="text font-body" />
			<div class="bg-pict" style="margin-top: 10px;"><img src="" /><span class="font-pic">名片正面</span></div>
		</div>
		<p class="font-body">选填项</p>
		<div class="bgbody">
			<div class="bg-pict"><img src="" /><span class="font-pic">全国经纪人证书</span></div>
		</div>
		<button class="danger">注册</button>
	</body>
</html>
