<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>觅巢ForYou-汇道科技</title>
		 <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		 <meta http-equiv="X-UA-Compatible" content="ie=edge" />
		 <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" type="text/css"/>
		<link href="../public/css/reservation.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div class="up">
			<span class="font-h">发布房源</span>	
		</div>
		<div class="bgbody bgbody-bj" style="padding: 10px;">
			<ul class="source">
				<li class="source-cell"><img src="../public/img/content_img@2x.png" height="90px" width="100%"/></li>
				<li class="source-cells">
					<div class=""><span class="text-left source-adds">先生/女士您好：</span><span class="source-txt txt-right">08/03/16:02</span></div>
					<p class="source-adds">我想看【京德大楼】的房源，请帮我安排，地址是常德路319号。</p>
					<div class="source-type">看房时间：08/08</div>
					<button class="danger accept">接单</button>
				</li>
			</ul>
		</div>
		<div class="bgbody bgbody-bj" style="padding: 10px;">
			<ul class="source">
				<li class="source-cell"><img src="../public/img/content_img@2x.png" height="90px" width="100%"/></li>
				<li class="source-cells">
					<div class=""><span class="text-left source-adds">先生/女士您好：</span><span class="source-txt txt-right">08/03/16:02</span></div>
					<p class="source-adds">我想看【京德大楼】的房源，请帮我安排，地址是常德路319号。</p>
					<div class="source-type">看房时间：08/08</div>
					<span class="accept-wc">已接单，待反馈</span>
				</li>
			</ul>
		</div>
		<div class="bgbody bgbody-bj" style="padding: 10px;">
			<ul class="source">
				<li class="source-cell"><img src="../public/img/content_img@2x.png" height="90px" width="100%"/></li>
				<li class="source-cells">
					<div class=""><span class="text-left source-adds">先生/女士您好：</span><span class="source-txt txt-right">08/03/16:02</span></div>
					<p class="source-adds">我想看【京德大楼】的房源，请帮我安排，地址是常德路319号。</p>
					<div class="source-type">看房时间：08/08</div>
					<span class="accept-wc">完成</span>
				</li>
			</ul>
		</div>
		<div class="bgbody seat">
			<span class="menu">
				<img src="../public/img/bottom_nor_icon04@2x.png" class="menu-pic"/>
				<span class="menu-txt">首页</span>
			</span>
			<span class="menu">
				<img src="../public/img/bottom_nor_icon03@2x.png" class="menu-pic"/>
				<span class="menu-txt">预约</span>
			</span>
			<span class="choose">
				<img src="../public/img/bottom_icon05@2x.png" height="100%" width="100%"/>
			</span>
			<span class="menu">
				<img src="../public/img/bottom_nor_icon02@2x.png" class="menu-pic"/>
				<span class="menu-txt">信息</span>
			</span>
			<span class="menu menu-active">
				<img src="../public/img/bottom_nor_icon01@2x.png" class="menu-pic"/>
				<span class="menu-txt">我</span>
			</span>
		</div>
	</body>
</html>
