<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>觅巢ForYou-汇道科技</title>
		 <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		 <meta http-equiv="X-UA-Compatible" content="ie=edge" />
		 <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" type="text/css"/>
		<link href="../public/css/setting.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div class="up">
			<span class="back"></span>
			<span class="font-h">设置</span>
		</div>
		<div class="bgbody" style="margin-top: 10px;">
			<span>接受需求</span>
			<div class="btn">
				<div class="btn-info"></div>
			</div>
		</div>
		<div class="bgbody go">
			<span>关于</span>
		</div>
		<div class="bgbody go">
			<span>清除缓存</span>
			<span class="data">7.02M</span>
		</div>
		<div class="bgbody" style="margin-top: 20px;text-align: center;">
			<span>退出登录</span>
		</div>
	</body>
</html>
