<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>觅巢ForYou-汇道科技</title>
		 <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		 <meta http-equiv="X-UA-Compatible" content="ie=edge" />
		 <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" type="text/css"/>
		<link href="../public/css/person.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div class="up">
			<span class="back"></span>
			<span class="font-h">个人资料</span>
		</div>
		<div class="bgbody" style="margin-top: 10px; padding: 10px 0px;">
			<div class="xx-txt  hid"><span class="xx-title flex">头像</span><span class="xx-tx flexb"><img src="../public/img/content_img_user@2x.png" height="30px" width="30px"/></span><span class="go"></span></div>
			<div class="xx-txt  hid"><span class="xx-title flex">简介</span><span  class="flexb">以前喜欢一个人，现在喜欢一个人</span><span class="go"></span></div>
			<div class="xx-txt "><span class="xx-title flex">企业邮箱、公司总机</span><span class="flexb">823546415@qq.com</span><span class="go"></span></div>
			<div class="xx-txt "><span class="xx-title flex">联系人</span><span class="flexb">张三</span><span class="go "></span></div>
			<div class="xx-txt "><span class="xx-title flex">联系方式</span><span class="flexb">18956015463</span><span class="go"></span></div>
			<div class="xx-txt "><span class="xx-title flex">微信号码</span><span class="flexb">18956015463</span><span class="go"></span></div>
			<div class="xx-pic">
				<div class="pic-kuang">
					<div class="xx-bj">
						<img src=""/>
					</div>
					<span class="pic-txt">微信二维码</span>
				</div>
				<div class="pic-kuang">
					<div class="xx-bj">
						<img src=""/>
					</div>
					<span class="pic-txt">全营业执照</span>
				</div>
				<div class="pic-kuang">
					<div class="xx-bj">
						<img src=""/>
					</div>
					<span class="pic-txt">租售代理协议</span>
				</div>
			</div>
		</div>
	</body>
</html>
