body {
  background: #efeff4;
  font-family: Helvetica;
  overflow-x: hidden;
  padding-top: 50px;
}
.up {
  height: 50px;
  display: flex;
  z-index: 5;
  line-height: 50px;
  background-color: #fff;
  padding-right: 50px;
  position: fixed;
  top: 0;
  width: 90%;
}
.back {
  height: 50px;
  width: 50px;
  background: url("../img/nav_icon_back@2x.png") no-repeat 50% 50%;
  background-size: 25% 50%;
  display: inline-block;
}
.font {
  color: #eb611a;
  font-size: 16px;
  display: inline-block;
  flex: 1;
  text-align: center;
}
.font-h {
  font-size: 16px;
  display: inline-block;
  flex: 1;
  text-align: center;
}
.danger {
  height: 40px;
  margin: 30px 5% 20px 5%;
  width: 90%;
  background: #c7c7c7;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  color: #fff;
  outline: none;
}
.bgbody {
  background-color: #fff;
  padding: 10px 15px;
}
.go {
  position: relative;
  margin-top: 10px;
  padding: 10px 0px;
}
.go:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  display: block;
  width: 16px;
  height: 30px;
  margin-top: -8px;
  background: url("../img/content_list_icon_right@2x (2).png") no-repeat;
  background-size: 50% 50%;
}
.menu {
  flex: 5;
  color: #b7b7b7;
  text-align: center;
}
.menu-txt {
  font-size: 14px;
  display: block;
  margin-top: 2px;
}
.seat {
  padding: 10px 0px;
  position: fixed;
  bottom: 0px;
  display: flex;
  width: 100%;
}
.menu-pic {
  height: 20px;
  width: 20px;
  display: block;
  margin: 0px auto;
}
.choose {
  width: 40px;
  height: 38px;
  margin: 0px 15px;
}
.demand {
  background: #fff;
  width: 86%;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #bebebe;
  padding: 10px 15px;
  position: relative;
}
.demand-title {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: 4C 4C 4C;
}
.date {
  float: right;
  font-style: normal;
  font-size: 12px;
  display: inline-block;
  color: #b9b9b9;
}
.demand-body {
  font-size: 12px;
}
.all {
  background: #efeff4;
  border-radius: 5px;
  margin: 10px auto;
  margin-bottom: 0px;
  font-size: 14px;
  text-align: center;
  width: 5em;
  padding: 5px 10px;
  color: #858586;
}
.especial {
  margin-top: -16px;
}
.tabs {
  display: flex;
  overflow: auto;
  padding: 0px;
}
.tabs-cell {
  float: left;
  list-style: none;
  padding: 15px 0px;
  text-align: center;
  flex: 4;
}
.active {
  border-bottom: 1px solid #ea5404;
  color: #ea5404;
}
.shuxian-c {
  flex: 0.2;
  float: left;
  list-style: none;
  text-align: center;
  border-bottom: 1px solid #ea5404;
  padding: 15px 0px;
}
.indentity {
  float: right;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
}
.zh {
  background-color: #15b755;
  padding: 0px 15px;
}
.jjr {
  background-color: #0193e6;
  padding: 0px 8px;
}
.zs {
  background-color: #97b715;
  padding: 0px 15px;
}
.dls {
  background-color: #ea5404;
  padding: 0px 8px;
}
.source {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  padding: 0px;
  margin: 0px;
}
.source-cell {
  display: inline-block;
  flex: 3;
  margin: 0px 5px;
}
.source-cells {
  display: inline-block;
  flex: 5;
  margin: 0px 5px;
}
.source-title {
  margin-top: 5px;
  font-size: 16px;
  position: relative;
}
.source-title:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0px;
  display: block;
  width: 28px;
  height: 26px;
  background: url("../img/collect_icon_press@2x.png") no-repeat;
  background-size: 50% 50%;
}
.source-adds {
  font-size: 14px;
  color: #767676;
  margin: 5px 0px;
}
.source-type {
  font-size: 12px;
  color: #ee783f;
  padding: 3px 5px;
  border: 1px solid #ee783f;
  border-radius: 5px;
  width: 5em;
  text-align: center;
  margin: 5px 0px;
}
.source-txt {
  color: #767676;
  font-size: 12px;
  line-height: 18px;
}
.source-price {
  color: #ee783f;
  line-height: 16px;
}
.source-unit {
  font-size: 12px;
  color: #737373;
  padding-left: 10px;
}
.bgbody-bj {
  margin-top: 10px;
  background-color: #fff;
}
.txt-right {
  float: right;
}
.txt-left {
  float: left;
}
article {
  margin-bottom: 60px;
}
.xx-txt {
  position: relative;
  height: 40px;
  padding: 0 15px;
  line-height: 40px;
  display: flex;
}
.xx-txt:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 10px;
  display: block;
  height: 1px;
  background-color: #cecece;
}
body {
  padding-bottom: 50px;
}
.bg-pic {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  vertical-align: bottom;
}
.txt-kuang {
  height: 60px;
  display: inline-block;
}
.bg-txt {
  font-size: 14px;
  color: #000;
  height: 1.5em;
  margin-top: 10px;
}
.bg-txta {
  font-size: 12px;
  color: #767676;
  height: 1.5em;
}
p {
  margin: 5px 0px;
}
.font-body {
  color: #bcbcbd;
  font-size: 14px;
  margin: 0px;
  padding: 10px 15px;
}
.font-kuang {
  display: inline-block;
  margin-top: 8px;
}
.right {
  float: right;
  margin-right: 10px;
}
.xx-t {
  position: relative;
  height: 40px;
  padding: 0 15px;
  line-height: 40px;
}
.xx-t:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 10px;
  display: block;
  height: 1px;
  background-color: #cecece;
}
.xx-tx {
  position: relative;
  height: 40px;
  padding: 0 15px;
  line-height: 40px;
}
.txt_box {
  float: right;
}
.txt_box_k {
  display: inline-block;
}
.txt_box_s {
  font-size: 12px;
  line-height: 12px;
  margin: 0px;
}
.txt-b {
  line-height: 16px;
  margin-bottom: 0px;
}
.phone {
  height: 60px;
  width: 60px;
  background: url("../img/content_icon_call@2x.png") no-repeat center right 10px;
  background-size: 40%;
  border-left: 1px solid #f5f5f5;
  float: right;
}
.menu {
  color: #ea560a;
  border-right: 1px solid #f5f5f5;
  padding: 15px 0px;
}
.seat {
  padding: 0px;
}
.change {
  width: 95%;
  text-align: right;
  border: 0px;
  outline: none;
}
.danger {
  background: #ea560a;
}
.dis-txt {
  font-size: 12px;
}
.check_box {
  display: block;
  line-height: 22px;
  padding: 5px 0px;
}
.check {
  height: 20px;
  width: 20px;
  display: inline-block;
  border: 1px solid #d5d5d5;
  vertical-align: bottom;
  margin-right: 10px;
}
.check_active {
  background: url("../img/content_list_icon_right@2x.png") no-repeat center;
  background-size: 90%;
}
.why {
  width: 100%;
  border: 0px;
  background: #efeff4;
  border-radius: 5px;
  resize: none;
  outline: none;
}
.hidden {
  display: none;
}
